<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">Available Courses</mat-toolbar>
    <div class="mat-elevation-z8 column-flex">
      @if (courses$ | async; as courses) {
      <app-courses-list
        [courses]="courses"
        (add)="onAdd()"
        (edit)="onEdit($event)"
        (remove)="onRemove($event)"
      ></app-courses-list>
      } @else {
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>
